<html>

<body style="display:flex; justify-content: center;height: 100%; width:100%;">
    <form action="/addgallery" method="POST" enctype="multipart/form-data"
        style="width: 40%; height: 70%; padding: 1%; display: flex; flex-direction: column; align-items: start; justify-content: space-between; border: 2px solid black; border-radius: 1%;">
        <h1 style="text-decoration: underline;">Add Gallery Image</h1>
        <div style="display:flex; flex-direction: column; justify-content: space-evenly; width: 100%; height: 20%;">
            <label style="text-decoration: underline;" for="title">Title:</label>
            <input style="width: 60%; height: 40%;" type="text" name="title" id="title" />
            <% if(typeof errors !='undefined' ) { %>
                <% if (typeof errors[0] !='undefined' ) { %>
                    <small style="color: red;">
                        <%= errors[0] %>
                    </small>
                    <% } %>
                        <% } %>
        </div>
        <div style="display:flex; flex-direction: column; justify-content: space-evenly; width: 100%; height: 20%;">
            <label style="text-decoration: underline;" for="description">Description:</label>
            <textarea style="resize: none; width: 60%; height: 70%" name="description" id="description"></textarea>
            <% if(typeof errors !='undefined' ) { %>
                <% if (typeof errors[1] !='undefined' ) { %>
                    <small style="color: red;">
                        <%= errors[1] %>
                    </small>
                    <% } %>
                        <% } %>
        </div>
        <div style="display:flex; flex-direction: column; justify-content: space-evenly; width: 100%; height: 20%;">
            <label style="text-decoration: underline;" for="image">Image:</label>
            <input type="file" name="image" />
            <% if(typeof errors !='undefined' ) { %>
                <% if (typeof errors[2] !='undefined' ) { %>
                    <small style="color: red;">
                        <%= errors[2] %>
                    </small>
                    <% } %>
                        <% } %>
        </div>
        <button style="background-color: green; width: 100%; height: 8%" type="submit">Add</button>
    </form>
</body>

</html>